<mat-card>
  <mat-card-header>
    <div mat-card-avatar *ngIf="cardIndex !== undefined">{{ cardIndex }}</div>
    <mat-card-title>{{ bill.payee }}</mat-card-title>
    <mat-card-subtitle>{{ bill.payDate | date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="d-flex justify-content-center">
      <h1>{{ bill.cost | currency: "AUD" }}</h1>
    </div>
  </mat-card-content>
  <mat-card-actions [align]="'end'">
    <button mat-icon-button (click)="onEditBill()" color="primary">
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      aria-label="Favorite"
      (click)="isFavorite = !isFavorite"
    >
      <mat-icon>{{ isFavorite ? "favorite" : "favorite_border" }}</mat-icon>
    </button>
    <button mat-icon-button (click)="confirmDeleteBill($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
