<div class="bill-item" [formGroup]="billItemControl">
  <p>
    <mat-form-field>
      <mat-label>Item Name*</mat-label>
      <input
        matInput
        placeholder="Item Name"
        [formControl]="getBillItemPropertyControl('name')"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-slide-toggle
      [checked]="showDetails"
      (toggleChange)="toggleDetail()"
      color="primary"
      >Show Cost Detail</mat-slide-toggle
    >
  </p>
  <p *ngIf="showDetails">
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input
        matInput
        placeholder="Price"
        type="number"
        [formControl]="getBillItemPropertyControl('price')"
      />
    </mat-form-field>
  </p>
  <p *ngIf="showDetails">
    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input
        matInput
        placeholder="Quantity"
        type="number"
        [formControl]="getBillItemPropertyControl('qty')"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Cost</mat-label>
      <input
        matInput
        placeholder="Cost"
        type="number"
        [attr.disabled]="showDetails"
        [formControl]="getBillItemPropertyControl('cost')"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Note</mat-label>
      <textarea
        matInput
        placeholder="Note"
        [formControl]="getBillItemPropertyControl('note')"
      ></textarea>
    </mat-form-field>
  </p>
  <bgt-chips-autocomplete
    #itemCategoryInput
    label="Item Category"
    placeholder="Item Category"
    (added)="addCategory($event)"
    (removed)="removeCategory($event)"
    (empty)="emptyCategories()"
  ></bgt-chips-autocomplete>
</div>
