<div class="w-100">
  <bgt-head-nav class=""></bgt-head-nav>
</div>
<div class="w-100 content">
  <bgt-body-content class="">
    <router-outlet sidebar name="sidebar"></router-outlet>
    <router-outlet content></router-outlet>
  </bgt-body-content>
</div>

<!-- <button
  #statefulButton
  mat-raised-button
  stateful
  [state$]="btnState$"
  [effects]="buttonEffects"
  (click)="onClick()"
>
  <ng-container
    statefulView
    [state$]="btnState$"
    [components]="buttonComponents"
  ></ng-container>
  Click Me
  <ng-container
    statefulView
    [state$]="btnState$"
    [components]="buttonComponents"
  ></ng-container>
</button> -->
